# PostgreSQL. Versions 8.2 and up are supported.

default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: pet-backend_development
  username: postgres
  password: password

test:
  <<: *default
  database: pet-backend_test
  username: postgres
  password: password

production:
  <<: *default
  database: pet-backend_production
  username: pet-backend
  password: <%= ENV['PET-BACKEND_DATABASE_PASSWORD'] %>
